#logo {
	position: absolute;
	width: 100px;
	top: -5px;
	left: -5px;
}

.ui.search .prompt {
	box-shadow: 3px 3px 10px #f79630;
}

.sidebar {
	float: right;
}

.container {
	width: 90%;
}

.body-song{
	margin-left: inherit;
	text-align : center;
}

#body-song__player-buttons{
	margin-top: 5%;
	margin-bottom: 5%;

}

/* coleur en fonction action des boutons*/
.ui.button:hover{
	background: white;
	border: 2px solid grey;
}

.ui.button:hover>.play{
	color: green;
}

.ui.button:hover>.pause{
	color: orange;
}

.ui.button:hover>.stop{
	color: red;
}

.ui.button:focus{
	background: white;
	border: 2px solid green;
}

.ui.button:focus>.play{
	color: green;
}

.ui.button:focus>.pause{
	color: orange;
}

.ui.button:focus>.stop{
	color: red;
}

.ui.button:active {
	background: white;
	border: 2px solid #7d2ae8;
}

.ui.button:active>.icon{
	color: #7d2ae8;
}

/*menu navigation musique*/
.ui.secondary.vertical.pointing.menu .item{
	background: #e0e1e2;
	border: 1px solid grey;
	border-radius: 25px!important;
	margin-bottom: 2px;
	
}

.ui.secondary.vertical.pointing.menu .item:hover{
	background: white;
	border: 1px solid #7d2ae8;
	border-radius: 25px!important;
	margin-bottom: 2px;
	color: blue;
}

.ui.secondary.vertical.pointing.menu .item:focus{
	background: #00c4cc;
	border: 1px solid white;
	border-radius: 25px!important;
	margin-bottom: 2px;
	color: white;
}


.ui.secondary.vertical.pointing.menu .item.song{
	background: white;
	border: 1px solid grey;
	border-radius: 25px!important;
	margin-bottom: 2px;
	color: purple;
}

.ui.secondary.vertical.pointing.menu .item.song:hover{
	background: #00c4cc;
	border: 1px solid grey;
	border-radius: 25px!important;
	margin-bottom: 2px;
	color: white;
}

.ui.secondary.vertical.pointing.menu .item.song:active{
	background: #7d2ae8;
	border: 1px solid grey;
	border-radius: 25px!important;
	margin-bottom: 2px;
	color: white;
}

.ui.secondary.vertical.pointing.menu{
	border-right-color: white;
}